@model PagedList.IPagedList<BGale_WEBD3000_MyTunes.Models.MediaCategory>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Media Categories";
}

<h2>Media Categoreis</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Media Category", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.ActionLink("Tracks", "Index", new { sortOrder = ViewBag.TrackSortParm })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @item.MediaTypes.Sum(m => m.Tracks.Count)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MediaCategoryId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MediaCategoryId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MediaCategoryId })
        </td>
    </tr>
}

</table>
<br/>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort}))