@*@model PagedList.IPagedList<BGale_WEBD3000_MyTunes.Models.Artist>*@
@*@model PagedList.IPagedList<BGale_WEBD3000_MyTunes.ViewModels.ArtistIndexData>*@
@model BGale_WEBD3000_MyTunes.ViewModels.ArtistIndexData
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Artists";
}

<h2>Artists</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Artist", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Artist", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.artists)
{
    string selectedRow = "";
    if (item.ArtistId == ViewBag.ArtistId)
    {
        selectedRow = "success";
    }
    <tr class="@selectedRow">
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Select", "Index", new { page = Model.artists.PageNumber, ArtistId = item.ArtistId, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }) |
            @Html.ActionLink("Edit", "Edit", new { id=item.ArtistId  }) |
            @Html.ActionLink("Details", "Details", new { id=item.ArtistId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ArtistId })
        </td>
    </tr>
}

</table>
<br />
Page @(Model.artists.PageCount < Model.artists.PageNumber ? 0 : Model.artists.PageNumber) of @Model.artists.PageCount

@Html.PagedListPager(Model.artists, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

@if (Model.albums != null)
{
    <h3>Albums</h3>
    <table class="table">
        <tr>
            <th>
               Album
            </th>
            <th>
                Release Date
            </th>
        </tr>

        @foreach (var item in Model.albums)
        {
            string selectedRow = "";
            if (item.AlbumId == ViewBag.AlbumId)
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.ActionLink("Select", "Index", new
              {
                  page = Model.artists.PageNumber,
                  ArtistId = ViewBag.ArtistId,
                  AlbumId = item.AlbumId,
                  sortOrder = ViewBag.CurrentSort,
                  currentFilter = ViewBag.CurrentFilter
              })
                </td>
            </tr>
        }
    </table>
}

@if (Model.tracks != null)
{
    <h3>Tracks</h3>
    <table class="table">
        <tr>
            <th>
                Track
            </th>
            <th>
                Genre
            </th>
            <th>
                Composer
            </th>
            <th>
                Price
            </th>
        </tr>

        @foreach (var item in Model.tracks)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Composer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
            </tr>
        }
    </table>
}