@*@model BGale_WEBD3000_MyTunes.Models.MediaType*@
@model BGale_WEBD3000_MyTunes.ViewModels.TypeTracks
@using PagedList.Mvc;

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MediaType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.type.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.type.MediaCategory.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type.MediaCategory.Name)
        </dd>
        <dd><br /></dd>
        <dd>
            <table class="table">
                <tr>
                    <th>Track</th>
                    <th>Duration</th>
                    <th>Price</th>
                </tr>
                @foreach (var item in Model.tracks)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Milliseconds)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UnitPrice)
                        </td>
                    </tr>
                }
            </table>
            <br />
            Page @(Model.tracks.PageCount < Model.tracks.PageNumber ? 0 : Model.tracks.PageNumber) of @Model.tracks.PageCount

            @Html.PagedListPager(Model.tracks, page => Url.Action("Details",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.type.MediaTypeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
