@model BGale_WEBD3000_MyTunes.Models.MediaCategory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MediaCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dd><br /></dd>
        <dd>
            <table class="table">
                <tr>
                    <th>Media Type</th>
                </tr>
                @foreach (var item in Model.MediaTypes.OrderBy(s => s.Name))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MediaCategoryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
